
    body {
        background-color: cornflowerblue;
    }
    h1 {
        color: antiquewhite;
    }
    h1 {
        text-align: center;
    }
.manuela {
   color: darkslategrey;
  }  
  .manuela {
    font-family: monospace;
  }
  .manuela {
    font-size: 20px;
  }
