
    body {
        background-color: cornflowerblue;
    }
    h1 {
        color: antiquewhite;
    }
    h1 {
        text-align: center;
    }
    h1 {
        background-color: steelblue;
    }
    h1 {
        font-size: 300%;
    }
.manuela {
   color: darkslategrey;
  }  
  .manuela {
    font-family: monospace;
  }
  .manuela {
    font-size: 18px;
  }
