
    body {
        background-color: rgb(200, 48, 255);
    }
    p{
        font-family: sans-serif;
        font-size: large;
        color:rgb(255, 255, 255)
    }
    h1{font-family: monospace;

    }
    .escarcha{
        font-size: 100px;
        color: rgb(255, 255, 255);
    }

    .zoom-in {cursor: zoom-in;}
    .not-allowed {cursor: not-allowed;}