*
/* Diseño general de la página */
#diseno {
    background-color: rgb(0, 0, 0);
    background-size: auto;
}

/* Normas de los textos */
.titulo {
    font-family:Angel wish;
    src: url(angel_wish.ttf);
    /* Recuperado de: https://www.w3schools.com/css/css3_fonts.asp */
    color: #000000;
    font-size: 95px;
    text-align: center;
    /* Recuperado de: https://blog.hubspot.com/website/center-text-in-css#:~:text=To%20center%20text%20in%20CSS%2C%20use%20the%20text%2Dalign%20property,case%2Dby%2Dcase%20basis. */
    text-decoration:wavy;
}
.subtitulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: center;
    max-width:100%;height:auto;
    padding: 5px;
}

.presentacion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    font-size: medium;
    max-width:100%;height:auto;

}

/* Normas imagenes */
.img-main {
    display: block;
    margin: auto;
   /* Código sacado de <a href="https://devxdev.net/centrar-imagen-css/"> Cómo centrar una imagen con css */ 
    max-width:90%;height:auto;
   /* Código sacado de <a href="https://www.w3schools.com/html/html_responsive.asp"> HTML Responsive Web Design. Responsive Images */
}

/* Estilo formulatio */
.formulario {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    font-size: medium;
    max-width:100%;height:auto;

    display: block;
    margin: auto;
    max-width:90%;height:auto;
}

/* Estructura de la página */
/* Recuperado de : https://www.w3schools.com/html/html_responsive.asp" */

.left {
    padding: 15px;
    float: left;
    width: 15%;
} 

.main {
    background-color: #ffffff;
    padding: 20px;
    float: left;
    width: 70%;
}

.right {
    padding: 20px;
    float: left;
    width: 15%;
}