body {
    background-color:rgb(222, 253, 213); 
}
H2 {
    color: darkgreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3 {
    background-color: rgb(134, 150, 106);
    color: aliceblue;
    font-family:sans-serif
}
p {
    color:darkgreen;
}
a {
    background-color:rgb(134, 150, 106);
    color: darkgreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
li {
    color: darkolivegreen;
    font-family: sans-serif;
    font-size:larger;
    background-color: rgb(249, 244, 236);
}
a:hover {
    background-color:greenyellow
  }
  /* hover referido w3shools */

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  /* referido w3schools */