body {background-color: blanchedalmond;
}
h1 {
    border: 2px solid powderblue;
  } 
  /* esto es para agregar un borde al titulo */


.bacan {
    background-color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%
}

/* aqui aplique la class bacan con color de fondo, fuente y tamaño */
