p { color: hsl(0, 0%, 0%); 
    font-size: 13px; 
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}   
h1 { font-family:Georgia, 'Times New Roman', Times, serif;
}  
body { background-color: black;}
.cuadro {
    background-color: rgb(229, 255, 252);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }
.sub { color:rgb(35, 7, 13);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.lista { font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
