p { color: hsl(0, 0%, 0%); 
    font-size: 13px; 
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}   
h1 { font-family:Georgia, 'Times New Roman', Times, serif;
}  
body { background-color: black;}
.cuadro {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
.sub { color:rgb(35, 7, 13);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}