#myHeader {
  background-color: rgb(0, 92, 122);
  color: rgb(255, 216, 216);
  padding: 40px;
  text-align: center;
}

/* Fondo color desde https://www.w3schools.com/html/html_id.asp*/
p {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 40px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.origen {
  background-color: rgb(243, 211, 68);
  color: rgb(0, 0, 0);
  padding: 40px;
  text-align: left;
  font-size: x-large;
}

.cartas {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 40px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

/* Codigo ontenido desde la página https://www.w3schools.com/html/html_responsive.asp*/
@media screen and (max-width: 800px) {
  picture{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
