body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5 {
    color: red;
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
