    body {
        background-color: rgb(232, 188, 252)
    }

    h1 {
        font-family: Verdana;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    div.a {
        text-align: center;
    }

    body,
    html {
        height: 100%;
    }

    /* The hero image */
    .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ultimamariposa.jpg");

        /* Set a specific height */
        height: 50%;

        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }




    /* centre la imgen principal de mariposa morada agregando en css .center y los que aparece abajo */
    /* Centre texto ocupando div.a text align center y repitiendo div.a en html */
    /* Cree una imagen larga con texto que dice que te puedes inscribir al mundo de las mariposas, ocupe la herramineta de how to en hero image  */