/*Ajustes por default de margenes y padding*/
*{
    margin: 0;
    padding: 0;
}
/*Ajustes generales para cuerpo de texto*/
body{
    font-family: sans-serif;
    background-color: rgb(240, 240, 240);
    color: rgb(10,10,10);
}
/*Ajustes de barra de encabezado*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 300px;
    background-color: rgb(10,10,10);
    color: rgb(240, 240, 240);
    padding: 20px;
}
/*Ajustes de posicion para gif*/
.logo{
    display: flex;
    align-items: center;
}
/*Ajustes de tamaño para gif*/
.logo img{
    height: 100px;
    margin-right: 30px;
}
/*Comandos para centrar parrafo / aqui me ayudo mi compañero*/
.galeria .titulo{
    font-size: 2vw;
    text-align: center;
}
/*Ajustes para parrafos*/
.galeria .parrafo{
    font-size: 2vw;
    text-align: center;
}
/*Ajustes para hipervinculos*/
.galeria .hipervinculo{
    font-size: 2vw;
    text-align: center;
    color: black;
    text-decoration: none;
}
/*Ajustes para centrar imagenes*/
.galeria img{
    display: block;
    margin: auto;
    max-width: 1000px;
}
/*Comando para resaltar texto en rojo cuando se mueve el cursor por encima de hipervinculos*/
.galeria .hipervinculo:hover{
    font-size: 2vw;
    color:rgb(255, 85, 85);
}
/*Ajustes para responsividad*/
@media screen and (max-width: 1050px){
    header{
            flex-direction: column;
            align-items: center;
    }
    nav{
        padding-top: 35px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .logo img{
        height: 200px;
    }
    .logo h2{
        display: none;
    }
    .galeria img{
        width: 820px;
    }
    .galeria .titulo{
        font-size: 2vw;
    }
    .galeria .parrafo{
        font-size: 2vw;
    }
    .galeria .hipervinculo{
        font-size: 2vw;
    }
    .galeria .hipervinculo:hover{
        font-size: 2vw;
    }
}
