.gif {
    width:250px;
    height:250px;
}
.gifcurvo {
    width:250px;
    height:250px;
    border-radius:50px;
}
.gifsombra {
    width:250px;
    height:250px;
    box-shadow: 20px 20px 20px;
}