/* Fondo morado con letras blancas para título https://www.w3schools.com/html/tryit.asp?filename=tryhtml_id_class */
p {
    background-color: rgb(205, 152, 255);
    color: rgb(255, 255, 255);
    padding: 50px;
    text-align: left;
  }

  /* Fondo rosado con letras blancas para párrafo https://www.w3schools.com/html/tryit.asp?filename=tryhtml_id_class */
  h1 {
    background-color: rgb(251, 163, 212);
    color: white;
    padding: 20px;
  }

  .shihtzu {
    background-color: rgb(152, 155, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
}