h1 {
  font-family: sans-serif;
  color: rgb(60, 3, 106);
  text-align: center;
}
h5 {
  font-family: sans-serif;
}
ol {
  font-family: sans-serif;
}
/* Codigo e informacion sacada de https://www.w3schools.com/html/html_responsive.asp */
/*  La funcion resposiva funciona para celulares cambiando la lista ordenada y los elementos que la componen*/
@media screen and (max-width: 800px) {
  ol {
    background-color: steelblue;
   }
 }
 @media screen and (max-width: 800px) {
  li {
    color: white;
  }
}
img {
  width: 30%;
}
@media screen and (max-width: 800px) {
  img {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.p1 {
  background-color: rgb(173, 230, 204);
  color: black;
  padding: 40px;
  text-align: left;
  font-family: sans-serif;
}
.p2 {
  background-color: rgb(195, 208, 249);
  color: black;
  padding: 40px;
  text-align: left;
  font-family: sans-serif;
}
/* Informacion sacada de https://www.w3schools.com/html/html_id.asp, codigo lo modificque a mis necesidades */
#myHeader {
  color: black;
  padding: 40px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
}

