body {
    background-color: rgb(69, 86, 95);
}

/* Ocupe un color mas oscuro y gris para el fondo, para poder darle seriedad a la pagina y que resalten las imagenes y tipogrfia */
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.colorido {
    background-color: rgb(240, 147, 6);
}

@media screen and (max-width: 800px) {
    .colorido {
        background-color: rgb(144, 193, 0);
    }
}

/* Ocupe el color verde claro en parrafo para que se destacara mas la informacion acerca de la ballena azul */

.zoom-in {
    cursor: zoom-in;
}