/* https://www.w3schools.com/css/tryit.asp?filename=trycss_syntax_id */
body {
    background-color: rgb(198, 198, 255);  
#mamamoo {
    color: hsl(328, 100%, 50%);
    font-weight: bold;
  }
#Hip {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}
    @media only screen and (max-width: 400px) {
  body {
    background-color: black;
  } 
  }
