html, body {
  background-color: rgb(232, 233, 237);
}

/* Opciones del texto y fotos*/
.textoPrincipal {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  text-align: center;
}

.textoCabecera {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  text-align: center;
  font-weight: bolder;
}

canvas {
  display: block;
}

#imagen {
  display: block;
  margin: auto;
  border-radius: 20px;
}

#link {
  display: block;
  text-align: center;
  color: rgb(56, 59, 110);
  font-size: 1.5vw;
  text-decoration: none;

}

/* Aquí me ayudo mi compañero, no tenia ni idea que se podia cambiar el link de esa */
#link:hover {
  color: rgb(176, 42, 114);

}

/* Medidas tamaño de la pantalla */
@media (max-width: 750px) {
  .textoPrincipal .textoCabecera {
    font-size: 1.5vw;
  }
}

@media (max-width: 751px) and (max-width: 1000px) {
  .textoPrincipal .textoCabecera {
    font-size: 1.2vw;
  }
}