html, body {
  background-color: rgb(232, 233, 237);
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
}

.textoPrincipal {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  text-align: center;
}

.textoCabecera {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  text-align: center;
  font-weight: bolder;
}

canvas {
  display: block;
}

#imagen {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
#link {
  display: block;
  text-align: center;
  color: rgb(56, 59, 110);
  font-size: 1.5vw;
}

@media (max-width: 750px) {
  .textoPrincipal {
    font-size: 1.5vw;
  }
}

@media (max-width: 751px) and (max-width: 1000px) {
  .textoPrincipal {
    font-size: 1.2vw;
  }
}