body {background-color: rgb(248, 249, 249);}
            h1 {
  color: rgb(38, 38, 38);
  font-family: 'Courier New', Courier, monospace;
  font-size: 300%;
  text-align: center;
}

p {
  color: rgb(103, 103, 103);
  font-family: courier;
  font-size: 100%;
  text-align: left;
}
/* Esto lo saque de https://internetctrl.com/como-centrar-un-texto-en-html/ */
img {
    display: block;
    margin: auto;
  }

.linea-1 {
  text-align: justify;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.columna {
background-color: rgb(255, 230, 212);
padding: 10px;
margin: 12.5px 50px;
}
/* Esto lo saque de https://youtu.be/a7mRQe5c-Wg */
h2 {
font-family: 'Courier New', Courier, monospace;
font-size: 150%;
}
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
}
.contenedor-imagenes {
  display: flex;
  justify-content: center;
}
.imagen {
  margin: 12.5px 25px;
}

.contenedor-imagenes2 {
  display: flex;
  justify-content: center;
}
.imagen2 {
  margin: 12.5px 25px;
}
/* Esto lo saque de https://youtu.be/a7mRQe5c-Wg */
