body {background-color: rgb(248, 249, 249);}
            h1 {
  color: rgb(38, 38, 38);
  font-family: 'Courier New', Courier, monospace;
  font-size: 300%;
  text-align: center;
}

p {
  color: rgb(103, 103, 103);
  font-family: courier;
  font-size: 100%;
  text-align: center;
}
/* Esto lo sque de https://internetctrl.com/como-centrar-un-texto-en-html/ */
img {
    display: block;
    margin: auto;
  }