
body {
background-color: rgb(251, 223, 238);
}
h1{
color:black;
}
p {
font-size:larger;
}
h2 {
color:#1c6da6"
font-family:display;
} 
p {
    font-size:smaller;
}
h3 {  
color:black;
font-family:fantasy;
    } 